.App {
    margin: auto;
    border-radius: 5px;
    padding: 2%;
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 4.5rem;
    margin: auto;
    text-align: center;
    color: #80abf3;
}